@import url("https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root,
.app {
  height: 100%;
  width: 100%;
  font-family: "Space Mono", sans-serif;
  @apply text-[#2B3442];
}

h1 {
  @apply text-[26px] font-bold leading-[38px];
}

h2 {
  @apply text-[22px] font-bold leading-[33px];
}

h3 {
  @apply text-[16px] leading-[24px];
}

h4 {
  @apply text-[13px] leading-[20px];
}

body {
  @apply text-[15px] leading-[25px];
}


/* Dark Mode Styles */
html.dark {
  @apply bg-dark-html-background;
}

html.dark h1,
html.dark h2,
html.dark h3,
html.dark h4,
html.dark p,
html.dark li {
  @apply text-white;
}

html.dark .app {
  @apply bg-dark-card;
}
